*{
	margin: 0px;
	padding: 0px;
}

::-webkit-scrollbar { 
    display: none; 
}
scrollbar{
	display: none;
}

/* Color Schemes */
@bg-color-0: #29526D;
@bg-color-1: #708FA3;
@bg-color-2: #486F88;
@bg-color-3: #123852;
@bg-color-4: #032236;


/* Remove Blue Border On Focus */
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}


div.nav_margin{
	margin-top: 60px;
}

div.hr{
		border-bottom: 2px solid limegreen;
		margin-top: 25px;
		margin-bottom: 25px;
		width: 100%;
		height: 25px;
	}

div.hr-half{
		border-bottom: 2px solid limegreen;
		margin-top: 25px;
		/*margin-bottom: 25px;*/
		width: 50%;
		margin-left: 25%;
		height: 25px;
	}

/* Landing Page 2 */
body#landing_page2{
	
	/*For Reference*/
	/*font-family: 'Roboto Slab', serif;*/
	/*font-family: 'Poiret One', cursive;*/
	/*font-family: 'Orbitron', sans-serif;*/

	/*Flip Image*/
		/* entire container, keeps perspective */
		.flip-container {
			perspective: 1000;
		}
		/* flip the pane when hovered */
		.flip-container:hover .flipper, .flip-container.hover .flipper {
			transform: rotateY(180deg);
		}

		.flip-container, .front, .back {
			max-width: 500px;
			margin: 0 auto;
		}
		/* flip speed goes here */
		.flipper {
			transition: 3s;
			transform-style: preserve-3d;

			position: relative;
		}

		/* hide back of pane during swap */
		.front, .back {
			backface-visibility: hidden;
			-webkit-backface-visibility: hidden;
  			-moz-backface-visibility:    hidden;
  			-ms-backface-visibility:     hidden;

			position: absolute;
			top: 0;
			left: 0;
		}

		/* front pane, placed above back */
		.front {
			z-index: 2;
			/* for firefox 31 */
			transform: rotateY(0deg);
		}

		/* back, initially hidden pane */
		.back {
			transform: rotateY(180deg);
			display: hidden;
			-webkit-backface-visibility: hidden;
 			-moz-backface-visibility:    hidden;
  			-ms-backface-visibility:     hidden;
		}


	section#welcome{
		height: 600px;
		background-color: @bg-color-0;
		padding-top: 125px;
		@media only screen and (min-width: 500px){
			background-size: cover;
			background-position: center;
			background-attachment: fixed;
			background-repeat: no-repeat;
			background-image: url('/assets/img/code_bg.png');
		}

		div.flip-container{
			
			div.flipper{
				div.canvas-wrap{
					background-color: rgba(0,0,0, 0.6);
					margin: 0 auto;
					padding: 25px;
					box-shadow: 0px 0px 200px limegreen;
					border-radius: 25px;

					h1, h3{
						text-align: center;
						color: limegreen;
					}
					h1{
						font-size: 60px;
						font-family: 'Roboto Slab', serif;
					}
					h3{
						
						font-size: 40px;
						font-family: 'Poiret One', cursive;
					}	
				}
				div.back{
					background-image: url('/assets/img/josh_waterfront.svg');
					background-size: cover;
					background-position: center;
				}
				div.front, div.back{
					width: 100%;
					max-width: 500px;
					height: 300px;
				}
			}
		}

		div#scroll-nav{
			margin: 0 auto;
			margin-top: 350px;
			padding-top: 10px;
			background-color: rgba(0,0,0,.8);
			border-radius: 25px;
			max-width: 450px;
			min-height: 50px;
			display: block;
			box-shadow: 0px 0px 50px limegreen;

			ul{				
				list-style-type: none;
				text-align: center;

				li{
					display: inline-block;
					margin: 0px 25px;
					font-size: 20px;

					a{
						color: limegreen;
					}
				}
			}
		}
	}
	
	section#small-projects{
		min-height: 300px;
		background-color: @bg-color-4;
		padding: 25px 50px;
		text-align: center;
		color: limegreen;
		
		div.row{
			margin-bottom: 50px;
			h2{
				font-family: 'Orbitron', sans-serif;	
				margin-bottom: 50px;
			}
			p{
				font-family: 'Poiret One', cursive;
        	    color: ghostwhite;
        	   	font-size: 20px;
			}
		}
	}
	section#portfolio{
		height: 400px;
		background-color: black;
	}
	section#my_skills{
		background-color: @bg-color-0;
		background-size: cover;
		background-attachment: fixed;
		font-family: 'Orbitron', sans-serif;

		@media only screen and (min-width: 501px){
			background-image: url('/assets/img/circuits-bg.png');
		}
		@media only screen and (max-width: 750px){
  			div.skills-overlay{
  				border-radius: 25px;
  				padding: 50px 10px;	
  			}
		}
		@media only screen and (min-width: 751px){
			div.skills-overlay{
				margin: 0 auto;
				padding: 75px;
				padding-bottom: 200px;
			}
		}

		div.skills-overlay{
			background-color: rgba(0,0,0,.8);
			box-shadow: 0px 40px 100px limegreen;
			text-align: center;
			width: 80%;
			height: 80%;

			h2, h3{
				text-align: center;
				color: limegreen;
			}
			figure#html5{
				background-image: url('/assets/icons/html5.svg');
				background-size: cover;
				width: 75px;
				height: 75px;
				vertical-align: top;
				background-position: center;

				figcaption{
					margin-top: 85px;
				}
			}
			figure{
				margin: 25px;
				width: 75px;
				display: inline-block;
				text-align: center;

				img#recaptcha{
					width: 75px;
					margin-bottom: 15px;
				}

				figcaption{
					font-family: 'Poiret One', cursive;
					margin-top: 10px;
					color: limegreen;
					font-size: 20px;
					font-weight: 700;
				}
			}
		}
	}
	section#resume{
		min-height: 500px;
		background-color: @bg-color-4;
		padding: 15px;
		padding-bottom: 75px;
		

		h1{
			margin-top: 50px;
			text-align: center;
			font-family: 'Orbitron', sans-serif;
			color: limegreen;
		}

		article{
			display: block;
			
			h3{
				color: limegreen;
			}

			h5{
				display: inline-block;
				color: ghostwhite;
				text-align: left;
			}
			ul{
				list-style-type: circle;
				list-style-position: inside;
				
				li{
					margin-left: 15px;
					color: limegreen;

					span{
						color: ghostwhite;
					}
				}
			}
		}	
		article#objective{
			h5{
				margin-left: 15px;
				line-height: 25px;
			}
		}
		article#employment{

			h5{
				margin-left: 15px;
			}
			ul{
				li{
					list-style-type: circle;
					list-style-position: inside;
					color: limegreen;
					
					span{
						color: ghostwhite;
					}
				}
			}
			div.employment-time{
				h5{
					text-align: right;
				}
			}
		}
	}	
	section#references{
		margin-top: -20px;
		margin-bottom: -10px;
		min-height: 450px;
		background-color: @bg-color-3;
		padding: 25px;
		padding-bottom: 50px;

		h1{
			text-align: center;
			color: limegreen;
			font-family: 'Orbitron', sans-serif;
		}
		div.letter-of-rec-cta{
			margin-bottom: 50px;
			a{
				color: limegreen;
				text-decoration: underline;
			}
		}
		button.reference-btn{
			margin: 15px;
			color: limegreen;
			font-size: 16px;
			border: 1px solid limegreen;
			border-radius: 20px;
			background-color: inherit;
			padding: 15px;
		}
		button.minimize-btn{
			display: none;
		}

		figure{
			border-bottom: 3px solid limegreen;
			margin-bottom: 50px;
			padding-bottom: 50px;
			max-width: 700px;
			margin: 0 auto;

			p.recommended-by, p.contact-phone, p.contact-email{
				margin: 0px;

				b{
					color: limegreen;
				}
			}
			p{
				text-align: left;
				padding: 0 15px;
				font-size: 16px;
				color: ghostwhite;
			}
			table{
				margin-top: 50px;
				margin-left: 15px;
				tr{
					td{
						text-align: left;
						padding-right: 10px;
						font-size: 16px;
					}
					td.left-side{
						color: limegreen;
					}
					td.right-side{
						color: ghostwhite;
					}
				}
			}
			article{
				display: none;
				margin-top: 50px;
			}
		}
	}
	section#contact{
		min-height: 500px;
		background-image: url('/assets/img/seattle_bg.jpg');
		background-repeat: none;
		background-size: cover;
		background-position: top;
		background-attachment: fixed;
		background-repeat: no-repeat;

		div.contact-overlay{
			padding-bottom: 100px;
			width: 100%;
			min-height: 500px;
			background-color: rgba(39,202,25,.8);

			div#contact-header{
				padding: 50px;
				text-align: center;
				font-family: 'Orbitron', sans-serif;

				h1, h2{
					font-weight: 700;
				}
			}

			form{

				padding-top: 50px;

				input, textarea{
				font-family: 'Roboto Slab', serif;
					background-color: @bg-color-4;
					color: limegreen;
					font-size: 20px;
					opacity: 0.85;
					margin: 0 auto;
					margin-bottom: 25px;
					display: block;
					width: 100%;
					max-width: 550px;
					border-radius: 25px;
					border: 3px inset limegreen;
				}
				input{
					padding-left: 15px;
					height: 50px;
				}
				textarea{
					padding: 15px;
					height: 200px;
				}
				input#submit-btn{
					background-color: @bg-color-4;
					color: limegreen;
				}
			}
		}
	}
	section#footer{
		background-color: @bg-color-4;
		min-height: 75px;

		footer{			

			p{
				color: limegreen;
				font-size: 16px;
				padding-top: 25px;
				display: inline-block;

			}

			ul.footer-list{

				li{
					display: inline-block;
					margin: 10px 2px;

					a{
						color: limegreen;
						font-size: 24px;
					}
					a:hover{
						text-decoration: none;
						color: limegreen;
					}
					
				}
			}
		}
	}
}


/* Navigation Bar */
section#navigation{

	nav{
		text-align: center;
		border-radius: 0px;
		background-color: @bg-color-4;
		border: @bg-color-4;

		button{
			background-color: @bg-color-0;
			border-color: limegreen;
		}

		span.icon-bar{
			background-color: limegreen;
		}

		@media only screen and (min-width: 768px) {
  			.icon-li {
    			margin-top: -10px;
  			}
		}
		li.divider{
			background-color: @bg-color-1;
			height: 3px;
		}
		li.dropdown_list{
			height: 30px;
			text-align: center;
		}
		a{
			font-size: 20px;
			color: limegreen;
		}
		ul{
			background-color: @bg-color-4;

			a:hover{
				background-color: @bg-color-2;
			}
		}
		li.dropdown>.active{
				background-color: @bg-color-2;
		}
		i{
			color: limegreen;
		}
	}
}


/* Project Portfolio */

body#portfolio_page{
	background-color: @bg-color-3;
	text-align: center;
	color: ghostwhite;
	font-size: 16px;

	section#portfolio_nav{
		background-color: @bg-color-4;
		color: limegreen;
		margin-bottom: 50px;
		position: fixed;
		width: 100%;

		ul{
			list-style: none;

			li{
				display: inline-block;
				margin-left: 25px;
				margin-right: 25px;
				
				a{
					color: limegreen;
					font-size: 16px;
				}
				a:hover{
					text-decoration: none;
					color: limegreen;
				}
			}
		}
	}

	section#uxacademy, section#caffe, section#cavalon, section#learning-platform{
		padding-top: 125px;
		font-family: 'Roboto Slab', serif;

		h1{
			/*font-family: lobster;*/
			font-family: 'Orbitron', sans-serif;
			color: limegreen;
		}

		p{
			text-align: left;
			padding-left: 25px;
			padding-right: 25px;
			margin-top: 10px;
		}
		p.list-title{
			font-size: smaller;
			text-decoration: underline;
			margin-bottom: 2px;
			color: limegreen;
		}
		ul.reqs{
			text-align: left;
			font-size: smaller;
			margin-left: 50px;

			li{
				ul.sub-list{
					font-size: smaller;
					text-align: left;
					margin-left: 25px;
				}
			}
		}
		ul{
			text-align: center;
			list-style: none;

			li.skills:hover{
				animation: pulse 2s linear 1;
			}
		}
		div#goto{
			margin-bottom: 25px;
			
			a{
				text-align: center;
				margin-bottom: 50px;
				margin-left: 5px;
				margin-right: 5px;
			}
			a:hover{
				color: limegreen;
			}
			i{
				animation: rubberBand 2s linear infinite;
				color: limegreen;
			}
		}
		div#icons{
			/*animation: bounceInLeft 2s linear 1;*/
			margin-top: 25px;
			margin-bottom: 25px;
			text-align: center;
			
			img{
				width: 50px;
			}
			img#php{
				width: 75px;
			}
			img:hover{
				animation: pulse 2s linear 1;
			}
		}
		figure{
			/*animation: bounceInRight 2s linear 1;*/
			height: 500px;
			overflow: scroll;
			img{
				width: 100%;
			}
		}
	}
}