section#small-projects{
	div.project-circle{
		display: inline-block;
		
		a{
			figure{
				vertical-align: top;
				display: inline-block;
				margin: 5px;
				width: 200px;
				height: 200px;
				border: 10px double limegreen;
				border-radius: 50%;
				background-size: cover;
				background-position: center;

				div.hover-box{
					height: 50%;
					width: 50%;
					margin-top: 30%;
					margin-left: 22%;
					opacity: 0;

					i{
						font-size: 80px;
					}
				}
				div.hover-box-construction{
					width: 70%;
					height: 70%;
					border-radius: 50%;
					margin-left: 15%;
					margin-top: 15%;
					background-color: limegreen;
					opacity: 0;
				}
			}
			figure:hover{
				border-radius: 5px;
				transition: 2s;

				div.hover-box, div.hover-box-construction{
					transition: 1s;
					opacity: 100;
				}
				div.hover-box-construction{
					border-radius: 5px;
					transition: 2s;
					opacity: 0.8;
				}
			}
			figcaption{
				color: inherit;
				width: 200px;
			}
			figure#whiskey_puppy{
				background-image: url('/assets/img/whiskey_puppy.jpg');
			}
			figure#seahawk-wall{
				background-image: url('/assets/img/seahawks2.jpg');
			}
			figure#josh-of-all-trades{
				background-image: url('/assets/icons/under-construction.svg');
			}
			figure#stripe-payment-api{
				background-image: url('/assets/icons/under-construction.svg');
			}
		}
	}
}