/* Color Schemes */
* {
  margin: 0px;
  padding: 0px;
}
::-webkit-scrollbar {
  display: none;
}
scrollbar {
  display: none;
}
/* Color Schemes */
/* Remove Blue Border On Focus */
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
div.nav_margin {
  margin-top: 60px;
}
div.hr {
  border-bottom: 2px solid limegreen;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 100%;
  height: 25px;
}
div.hr-half {
  border-bottom: 2px solid limegreen;
  margin-top: 25px;
  /*margin-bottom: 25px;*/

  width: 50%;
  margin-left: 25%;
  height: 25px;
}
/* Landing Page 2 */
body#landing_page2 {
  /*For Reference*/

  /*font-family: 'Roboto Slab', serif;*/

  /*font-family: 'Poiret One', cursive;*/

  /*font-family: 'Orbitron', sans-serif;*/

  /*Flip Image*/

  /* entire container, keeps perspective */

  /* flip the pane when hovered */

  /* flip speed goes here */

  /* hide back of pane during swap */

  /* front pane, placed above back */

  /* back, initially hidden pane */

}
body#landing_page2 .flip-container {
  perspective: 1000;
}
body#landing_page2 .flip-container:hover .flipper,
body#landing_page2 .flip-container.hover .flipper {
  transform: rotatey(180deg);
}
body#landing_page2 .flip-container,
body#landing_page2 .front,
body#landing_page2 .back {
  max-width: 500px;
  margin: 0 auto;
}
body#landing_page2 .flipper {
  transition: 3s;
  transform-style: preserve-3d;
  position: relative;
}
body#landing_page2 .front,
body#landing_page2 .back {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
body#landing_page2 .front {
  z-index: 2;
  /* for firefox 31 */

  transform: rotatey(0deg);
}
body#landing_page2 .back {
  transform: rotatey(180deg);
  display: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
}
body#landing_page2 section#welcome {
  height: 600px;
  background-color: #29526d;
  padding-top: 125px;
}
@media only screen and (min-width: 500px) {
  body#landing_page2 section#welcome {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url('/assets/img/code_bg.png');
  }
}
body#landing_page2 section#welcome div.flip-container div.flipper div.canvas-wrap {
  background-color: rgba(0, 0, 0, 0.6);
  margin: 0 auto;
  padding: 25px;
  box-shadow: 0px 0px 200px limegreen;
  border-radius: 25px;
}
body#landing_page2 section#welcome div.flip-container div.flipper div.canvas-wrap h1,
body#landing_page2 section#welcome div.flip-container div.flipper div.canvas-wrap h3 {
  text-align: center;
  color: limegreen;
}
body#landing_page2 section#welcome div.flip-container div.flipper div.canvas-wrap h1 {
  font-size: 60px;
  font-family: 'Roboto Slab', serif;
}
body#landing_page2 section#welcome div.flip-container div.flipper div.canvas-wrap h3 {
  font-size: 40px;
  font-family: 'Poiret One', cursive;
}
body#landing_page2 section#welcome div.flip-container div.flipper div.back {
  background-image: url('/assets/img/josh_waterfront.svg');
  background-size: cover;
  background-position: center;
}
body#landing_page2 section#welcome div.flip-container div.flipper div.front,
body#landing_page2 section#welcome div.flip-container div.flipper div.back {
  width: 100%;
  max-width: 500px;
  height: 300px;
}
body#landing_page2 section#welcome div#scroll-nav {
  margin: 0 auto;
  margin-top: 350px;
  padding-top: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 25px;
  max-width: 450px;
  min-height: 50px;
  display: block;
  box-shadow: 0px 0px 50px limegreen;
}
body#landing_page2 section#welcome div#scroll-nav ul {
  list-style-type: none;
  text-align: center;
}
body#landing_page2 section#welcome div#scroll-nav ul li {
  display: inline-block;
  margin: 0px 25px;
  font-size: 20px;
}
body#landing_page2 section#welcome div#scroll-nav ul li a {
  color: limegreen;
}
body#landing_page2 section#small-projects {
  min-height: 300px;
  background-color: #032236;
  padding: 25px 50px;
  text-align: center;
  color: limegreen;
}
body#landing_page2 section#small-projects div.row {
  margin-bottom: 50px;
}
body#landing_page2 section#small-projects div.row h2 {
  font-family: 'Orbitron', sans-serif;
  margin-bottom: 50px;
}
body#landing_page2 section#small-projects div.row p {
  font-family: 'Poiret One', cursive;
  color: ghostwhite;
  font-size: 20px;
}
body#landing_page2 section#portfolio {
  height: 400px;
  background-color: black;
}
body#landing_page2 section#my_skills {
  background-color: #29526d;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Orbitron', sans-serif;
}
@media only screen and (min-width: 501px) {
  body#landing_page2 section#my_skills {
    background-image: url('/assets/img/circuits-bg.png');
  }
}
@media only screen and (max-width: 750px) {
  body#landing_page2 section#my_skills div.skills-overlay {
    border-radius: 25px;
    padding: 50px 10px;
  }
}
@media only screen and (min-width: 751px) {
  body#landing_page2 section#my_skills div.skills-overlay {
    margin: 0 auto;
    padding: 75px;
    padding-bottom: 200px;
  }
}
body#landing_page2 section#my_skills div.skills-overlay {
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0px 40px 100px limegreen;
  text-align: center;
  width: 80%;
  height: 80%;
}
body#landing_page2 section#my_skills div.skills-overlay h2,
body#landing_page2 section#my_skills div.skills-overlay h3 {
  text-align: center;
  color: limegreen;
}
body#landing_page2 section#my_skills div.skills-overlay figure#html5 {
  background-image: url('/assets/icons/html5.svg');
  background-size: cover;
  width: 75px;
  height: 75px;
  vertical-align: top;
  background-position: center;
}
body#landing_page2 section#my_skills div.skills-overlay figure#html5 figcaption {
  margin-top: 85px;
}
body#landing_page2 section#my_skills div.skills-overlay figure {
  margin: 25px;
  width: 75px;
  display: inline-block;
  text-align: center;
}
body#landing_page2 section#my_skills div.skills-overlay figure img#recaptcha {
  width: 75px;
  margin-bottom: 15px;
}
body#landing_page2 section#my_skills div.skills-overlay figure figcaption {
  font-family: 'Poiret One', cursive;
  margin-top: 10px;
  color: limegreen;
  font-size: 20px;
  font-weight: 700;
}
body#landing_page2 section#resume {
  min-height: 500px;
  background-color: #032236;
  padding: 15px;
  padding-bottom: 75px;
}
body#landing_page2 section#resume h1 {
  margin-top: 50px;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  color: limegreen;
}
body#landing_page2 section#resume article {
  display: block;
}
body#landing_page2 section#resume article h3 {
  color: limegreen;
}
body#landing_page2 section#resume article h5 {
  display: inline-block;
  color: ghostwhite;
  text-align: left;
}
body#landing_page2 section#resume article ul {
  list-style-type: circle;
  list-style-position: inside;
}
body#landing_page2 section#resume article ul li {
  margin-left: 15px;
  color: limegreen;
}
body#landing_page2 section#resume article ul li span {
  color: ghostwhite;
}
body#landing_page2 section#resume article#objective h5 {
  margin-left: 15px;
  line-height: 25px;
}
body#landing_page2 section#resume article#employment h5 {
  margin-left: 15px;
}
body#landing_page2 section#resume article#employment ul li {
  list-style-type: circle;
  list-style-position: inside;
  color: limegreen;
}
body#landing_page2 section#resume article#employment ul li span {
  color: ghostwhite;
}
body#landing_page2 section#resume article#employment div.employment-time h5 {
  text-align: right;
}
body#landing_page2 section#references {
  margin-top: -20px;
  margin-bottom: -10px;
  min-height: 450px;
  background-color: #123852;
  padding: 25px;
  padding-bottom: 50px;
}
body#landing_page2 section#references h1 {
  text-align: center;
  color: limegreen;
  font-family: 'Orbitron', sans-serif;
}
body#landing_page2 section#references div.letter-of-rec-cta {
  margin-bottom: 50px;
}
body#landing_page2 section#references div.letter-of-rec-cta a {
  color: limegreen;
  text-decoration: underline;
}
body#landing_page2 section#references button.reference-btn {
  margin: 15px;
  color: limegreen;
  font-size: 16px;
  border: 1px solid limegreen;
  border-radius: 20px;
  background-color: inherit;
  padding: 15px;
}
body#landing_page2 section#references button.minimize-btn {
  display: none;
}
body#landing_page2 section#references figure {
  border-bottom: 3px solid limegreen;
  margin-bottom: 50px;
  padding-bottom: 50px;
  max-width: 700px;
  margin: 0 auto;
}
body#landing_page2 section#references figure p.recommended-by,
body#landing_page2 section#references figure p.contact-phone,
body#landing_page2 section#references figure p.contact-email {
  margin: 0px;
}
body#landing_page2 section#references figure p.recommended-by b,
body#landing_page2 section#references figure p.contact-phone b,
body#landing_page2 section#references figure p.contact-email b {
  color: limegreen;
}
body#landing_page2 section#references figure p {
  text-align: left;
  padding: 0 15px;
  font-size: 16px;
  color: ghostwhite;
}
body#landing_page2 section#references figure table {
  margin-top: 50px;
  margin-left: 15px;
}
body#landing_page2 section#references figure table tr td {
  text-align: left;
  padding-right: 10px;
  font-size: 16px;
}
body#landing_page2 section#references figure table tr td.left-side {
  color: limegreen;
}
body#landing_page2 section#references figure table tr td.right-side {
  color: ghostwhite;
}
body#landing_page2 section#references figure article {
  display: none;
  margin-top: 50px;
}
body#landing_page2 section#contact {
  min-height: 500px;
  background-image: url('/assets/img/seattle_bg.jpg');
  background-repeat: none;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
body#landing_page2 section#contact div.contact-overlay {
  padding-bottom: 100px;
  width: 100%;
  min-height: 500px;
  background-color: rgba(39, 202, 25, 0.8);
}
body#landing_page2 section#contact div.contact-overlay div#contact-header {
  padding: 50px;
  text-align: center;
  font-family: 'Orbitron', sans-serif;
}
body#landing_page2 section#contact div.contact-overlay div#contact-header h1,
body#landing_page2 section#contact div.contact-overlay div#contact-header h2 {
  font-weight: 700;
}
body#landing_page2 section#contact div.contact-overlay form {
  padding-top: 50px;
}
body#landing_page2 section#contact div.contact-overlay form input,
body#landing_page2 section#contact div.contact-overlay form textarea {
  font-family: 'Roboto Slab', serif;
  background-color: #032236;
  color: limegreen;
  font-size: 20px;
  opacity: 0.85;
  margin: 0 auto;
  margin-bottom: 25px;
  display: block;
  width: 100%;
  max-width: 550px;
  border-radius: 25px;
  border: 3px inset limegreen;
}
body#landing_page2 section#contact div.contact-overlay form input {
  padding-left: 15px;
  height: 50px;
}
body#landing_page2 section#contact div.contact-overlay form textarea {
  padding: 15px;
  height: 200px;
}
body#landing_page2 section#contact div.contact-overlay form input#submit-btn {
  background-color: #032236;
  color: limegreen;
}
body#landing_page2 section#footer {
  background-color: #032236;
  min-height: 75px;
}
body#landing_page2 section#footer footer p {
  color: limegreen;
  font-size: 16px;
  padding-top: 25px;
  display: inline-block;
}
body#landing_page2 section#footer footer ul.footer-list li {
  display: inline-block;
  margin: 10px 2px;
}
body#landing_page2 section#footer footer ul.footer-list li a {
  color: limegreen;
  font-size: 24px;
}
body#landing_page2 section#footer footer ul.footer-list li a:hover {
  text-decoration: none;
  color: limegreen;
}
/* Navigation Bar */
section#navigation nav {
  text-align: center;
  border-radius: 0px;
  background-color: #032236;
  border: #032236;
}
section#navigation nav button {
  background-color: #29526d;
  border-color: limegreen;
}
section#navigation nav span.icon-bar {
  background-color: limegreen;
}
@media only screen and (min-width: 768px) {
  section#navigation nav .icon-li {
    margin-top: -10px;
  }
}
section#navigation nav li.divider {
  background-color: #708fa3;
  height: 3px;
}
section#navigation nav li.dropdown_list {
  height: 30px;
  text-align: center;
}
section#navigation nav a {
  font-size: 20px;
  color: limegreen;
}
section#navigation nav ul {
  background-color: #032236;
}
section#navigation nav ul a:hover {
  background-color: #486f88;
}
section#navigation nav li.dropdown > .active {
  background-color: #486f88;
}
section#navigation nav i {
  color: limegreen;
}
/* Project Portfolio */
body#portfolio_page {
  background-color: #123852;
  text-align: center;
  color: ghostwhite;
  font-size: 16px;
}
body#portfolio_page section#portfolio_nav {
  background-color: #032236;
  color: limegreen;
  margin-bottom: 50px;
  position: fixed;
  width: 100%;
}
body#portfolio_page section#portfolio_nav ul {
  list-style: none;
}
body#portfolio_page section#portfolio_nav ul li {
  display: inline-block;
  margin-left: 25px;
  margin-right: 25px;
}
body#portfolio_page section#portfolio_nav ul li a {
  color: limegreen;
  font-size: 16px;
}
body#portfolio_page section#portfolio_nav ul li a:hover {
  text-decoration: none;
  color: limegreen;
}
body#portfolio_page section#uxacademy,
body#portfolio_page section#caffe,
body#portfolio_page section#cavalon,
body#portfolio_page section#learning-platform {
  padding-top: 125px;
  font-family: 'Roboto Slab', serif;
}
body#portfolio_page section#uxacademy h1,
body#portfolio_page section#caffe h1,
body#portfolio_page section#cavalon h1,
body#portfolio_page section#learning-platform h1 {
  /*font-family: lobster;*/

  font-family: 'Orbitron', sans-serif;
  color: limegreen;
}
body#portfolio_page section#uxacademy p,
body#portfolio_page section#caffe p,
body#portfolio_page section#cavalon p,
body#portfolio_page section#learning-platform p {
  text-align: left;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 10px;
}
body#portfolio_page section#uxacademy p.list-title,
body#portfolio_page section#caffe p.list-title,
body#portfolio_page section#cavalon p.list-title,
body#portfolio_page section#learning-platform p.list-title {
  font-size: smaller;
  text-decoration: underline;
  margin-bottom: 2px;
  color: limegreen;
}
body#portfolio_page section#uxacademy ul.reqs,
body#portfolio_page section#caffe ul.reqs,
body#portfolio_page section#cavalon ul.reqs,
body#portfolio_page section#learning-platform ul.reqs {
  text-align: left;
  font-size: smaller;
  margin-left: 50px;
}
body#portfolio_page section#uxacademy ul.reqs li ul.sub-list,
body#portfolio_page section#caffe ul.reqs li ul.sub-list,
body#portfolio_page section#cavalon ul.reqs li ul.sub-list,
body#portfolio_page section#learning-platform ul.reqs li ul.sub-list {
  font-size: smaller;
  text-align: left;
  margin-left: 25px;
}
body#portfolio_page section#uxacademy ul,
body#portfolio_page section#caffe ul,
body#portfolio_page section#cavalon ul,
body#portfolio_page section#learning-platform ul {
  text-align: center;
  list-style: none;
}
body#portfolio_page section#uxacademy ul li.skills:hover,
body#portfolio_page section#caffe ul li.skills:hover,
body#portfolio_page section#cavalon ul li.skills:hover,
body#portfolio_page section#learning-platform ul li.skills:hover {
  animation: pulse 2s linear 1;
}
body#portfolio_page section#uxacademy div#goto,
body#portfolio_page section#caffe div#goto,
body#portfolio_page section#cavalon div#goto,
body#portfolio_page section#learning-platform div#goto {
  margin-bottom: 25px;
}
body#portfolio_page section#uxacademy div#goto a,
body#portfolio_page section#caffe div#goto a,
body#portfolio_page section#cavalon div#goto a,
body#portfolio_page section#learning-platform div#goto a {
  text-align: center;
  margin-bottom: 50px;
  margin-left: 5px;
  margin-right: 5px;
}
body#portfolio_page section#uxacademy div#goto a:hover,
body#portfolio_page section#caffe div#goto a:hover,
body#portfolio_page section#cavalon div#goto a:hover,
body#portfolio_page section#learning-platform div#goto a:hover {
  color: limegreen;
}
body#portfolio_page section#uxacademy div#goto i,
body#portfolio_page section#caffe div#goto i,
body#portfolio_page section#cavalon div#goto i,
body#portfolio_page section#learning-platform div#goto i {
  animation: rubberBand 2s linear infinite;
  color: limegreen;
}
body#portfolio_page section#uxacademy div#icons,
body#portfolio_page section#caffe div#icons,
body#portfolio_page section#cavalon div#icons,
body#portfolio_page section#learning-platform div#icons {
  /*animation: bounceInLeft 2s linear 1;*/

  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
}
body#portfolio_page section#uxacademy div#icons img,
body#portfolio_page section#caffe div#icons img,
body#portfolio_page section#cavalon div#icons img,
body#portfolio_page section#learning-platform div#icons img {
  width: 50px;
}
body#portfolio_page section#uxacademy div#icons img#php,
body#portfolio_page section#caffe div#icons img#php,
body#portfolio_page section#cavalon div#icons img#php,
body#portfolio_page section#learning-platform div#icons img#php {
  width: 75px;
}
body#portfolio_page section#uxacademy div#icons img:hover,
body#portfolio_page section#caffe div#icons img:hover,
body#portfolio_page section#cavalon div#icons img:hover,
body#portfolio_page section#learning-platform div#icons img:hover {
  animation: pulse 2s linear 1;
}
body#portfolio_page section#uxacademy figure,
body#portfolio_page section#caffe figure,
body#portfolio_page section#cavalon figure,
body#portfolio_page section#learning-platform figure {
  /*animation: bounceInRight 2s linear 1;*/

  height: 500px;
  overflow: scroll;
}
body#portfolio_page section#uxacademy figure img,
body#portfolio_page section#caffe figure img,
body#portfolio_page section#cavalon figure img,
body#portfolio_page section#learning-platform figure img {
  width: 100%;
}
